.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
}

.home-container .heading {
    font-weight: bold;
    color: #6c757d;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-stretch: condensed;
}

.home-container p {
    margin: 0;
    font-size: 0.75rem;
    color: #999;
}

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 1s steps(1) infinite;
    margin-left: -0.2ch;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
